/* ==================================================
                        font stuff
   ================================================== */

@font-face {
    font-family: 'why_must_you';
    src: url('/fontkit/whymustyou-regular-webfont.eot');
    src: url('/fontkit/whymustyou-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fontkit/whymustyou-regular-webfont.ttf') format('truetype'),
         url('/fontkit/whymustyou-regular-webfont.otf') format('opentype'),
         url('/fontkit/whymustyou-regular-webfont.woff2') format('woff2'),
         url('/fontkit/whymustyou-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ==================================================
                        important
   ================================================== */

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.courier{
    font-family: 'Courier New', Courier, monospace;
}
.whymustyou{
    font-family: 'why_must_you', serif;
}

body{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* ==================================================
                        header
   ================================================== */
header {
    width: 100%;
}

header .img-fluid {
    max-height: 25%;
    width: auto;
}

header .nav-link{
    color: #D8C9DD;
    font-size: 20px;
    margin: 5%;
}

header .nav-link:hover{
    color: #747FE8;
}



/* ==================================================
                        navbar
   ================================================== */
.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
ul .nav {
    display: flex;
    align-items: center;
    justify-content: right;
}
.navbar .nav-item {
    justify-content: right;
    color: #D8C9DD;
}
.navbar .icon {
    display: none;
}
@media(max-width: 100vh) {
    .navbar a.icon {
      float: right;
      display: block;
    }
}

@media(max-width: 33vh) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}